#root {
    width: 100%;
    margin: 0 auto;
    padding-top: 70px;
    text-align: center;
    align-self: flex-start;
}

tr:nth-child(even) {
    background: #F2F2F2;
}

tr:nth-child(odd) {
    background: #FFF;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

ul {
    list-style-type: none
}

::-webkit-scrollbar {
    display: none;
}

* {
    -webkit-overflow-scrolling: touch;
}

.left-col {
    background-color: #F2F2F2;
    padding: 2rem;
    height: calc(100vh - 70px);
    overflow-y: scroll;
}

.right-col {
    padding: 2rem;
    height: calc(100vh - 70px);
    overflow-y: scroll;
}

.top-bar {
    height: 70px;
}

.submit-button {
    width: 150px;
}
